In [2]:
#--1 - Strating with pandas 
#Reading csv file  , setting index while reading , reading data from dataframes

import pandas as pd

df= pd.read_csv("C:/Users/Sneha/documents/pandas-demo/survey_results_public.csv")
df_stack= pd.read_csv("C:/Users/Sneha/documents/pandas-demo/survey_results_public.csv")
schema_df = pd.read_csv("C:/Users/Sneha/documents/pandas-demo/survey_results_schema.csv", index_col='Column')

#reading data from dataframes

schema_df
df

df.head(10)
df.tail(10)

df.shape #returns number of rows and columns 

df.columns #If we want to see all the columns

#setting option to display all the rows and columns

pd.set_option('display.max_columns', 85)
pd.set_option('display.max_rows', 85)

In [60]:
#lesson 2 -DAtaframes , accessing rows and columns

person = {
    "first": "Corey", 
    "last": "Schafer", 
    "email": "CoreyMSchafer@gmail.com"
}

#storing mutile values for single key (acts as column and therir values)
people = {
    "first": ["Corey", 'Jane', 'John'], 
    "last": ["Schafer", 'Doe', 'Doe'], 
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}

#convert dict to dataframe
person_df=pd.DataFrame(people)

#note: Data frams is a container of series objects 

#Accesing single column

person_df['first'] 

#Accesing multiple columns column - we pass list of column names

person_df[['first','last'] ]



#Accesing both rows & columns , we can use loc and iloc ..loc uses labels to get the rows where as iloc uses integer location , indexes to access rows

#Access first row and getting specific columnmae with loc  (Always prefer loc than iloc)

person_df.loc[0, 'last'] 

#Access multiple  rows and getting specific columnmae


person_df.loc[[0,1,2], ['first','last']]  # 2 row is inclusive 

person_df.loc[0:2, ['first','last']]  # we can use slicing as well , 2 row is inclusive 


#Access first row and getting specific columnmae with iloc  (Always prefer loc than iloc)

person_df.iloc[[0, 1], 1] #it's a location based index , we cant pass column name , instead we can pass only index value

0    Schafer
1        Doe
Name: last, dtype: object

In [3]:
#lesson 3 -indexes -- how to set, reset & use indexes (Always recommens to set indexe on unique column , by default we have row number as index)



people = {
    "first": ["Corey", 'Jane', 'John'], 
    "last": ["Schafer", 'Doe', 'Doe'], 
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}

#convert dict to dataframe
person_df=pd.DataFrame(people)

#reseting index if we have one 

#person_df.reset_index(inplace=True)

#setting index

person_df.set_index('email', inplace=True)

#person_df['email'] #e cann access the column we set for index by using person_df['email'], person_df.index['CoreyMSchafer@gmail.com']
#we can only use indecies to quert the index column like below
person_df.index[0]
person_df.index[0:1]


#resetting index

person_df.reset_index(inplace=True)
person_df

                     email  first     last
0  CoreyMSchafer@gmail.com  Corey  Schafer
1        JaneDoe@email.com   Jane      Doe
2        JohnDoe@email.com   John      Doe

In [11]:

#lesson 4 --filtering , using conditionals to filter out rows and columns
import pandas as pd
people = {
    "first": ["Corey", 'Jane', 'John'], 
    "last": ["Schafer", 'Doe', 'Doe'], 
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}

#convert dict to dataframe
person_df=pd.DataFrame(people)
person_df
#get the rows whose last name is Doe 
filt = (person_df['last']=='Doe')
filt  #it reutune boolean True or Flase based on condition 
person_df[filt] # we pass it to dataframe to get the actual rows and columns 

#we can alslo use negate to get the non matching result

#filt.loc[~filt, 'email']

# #another approch , we can combine above two stpes into single step 

filt_res =person_df[(person_df['last']=='Doe')]
filt_res

# #based on multiple conditions  , get the rows whose last name is Doeand first name is John 

filt_res =person_df[(person_df['last']=='Doe') & (person_df['first']=='John')]
filt_res

# #based on multiple conditions  , get the rows whose last name is Doeand first name is John  but this tiome only select email column 

filt_res =person_df[(person_df['last']=='Doe') & (person_df['first']=='John')]
filt_res['email'] # or we can use below 
filt_res.loc[:,'email']

# #instead of having two many condiitons on single column we can also pass in list to filter out rows

# #ex: countries=['India','SA', 'Aus','NZ','srlanka']
# #filt=df['country'].isin(countries)
# #df[filt]

# #string methods which can come in handy , similar to like operator in SQL

#retreive rows where email contains "email" instead of gmail
filt = person_df['email'].str.contains('email', na=False)
person_df[filt] # or 
person_df.loc[filt] # or 

filt = person_df[person_df['email'].str.contains('email', na=False)]
filt

  first last              email
1  Jane  Doe  JaneDoe@email.com
2  John  Doe  JohnDoe@email.com

In [24]:
#lesson 5 --updating  rows and columns

import pandas as pd
people = {
    "first": ["Corey", 'Jane', 'John'], 
    "last": ["Schafer", 'Doe', 'Doe'], 
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}

#convert dict to dataframe
person_df=pd.DataFrame(people)
person_df

#For columns - below are few usecase

#how to rename all columns 

person_df.columns =['first_name','last_name','email'] # teduois if we have hundreds of columns 
person_df

#how to rename specific column, we use rename method # rename email to email-id

person_df.rename(columns = {"email": 'email-id'},inplace=True) 
person_df


#connvert all column to uppercase to lower case or viceversa

for col_name in person_df.columns:
    #person_df.columns=col_name.upper() #there is issue with this code, my try
    person_df.rename(columns={col_name: col_name.upper()}, inplace=True)

#person_df



for col_name in person_df.columns:
    #person_df.columns=col_name.upper() #there is issue with this code, my try
    person_df.rename(columns={col_name: col_name.lower()}, inplace=True)

person_df

#same above logic we can impletemt using list comprehension 

# person_df.columns= [col_name.upper() for col_name in person_df.columns]
# person_df

#Relcae blnak space to' _' in column names  
person_df.columns= person_df.columns.str.replace('-','_')
person_df

#update rows

person_df.loc[2] = ['John', 'Smith', 'JohnSmith@email.com'] #update complet row for all columns 
person_df.loc[2, ['last_name', 'email_id']] = ['Doe', 'JohnDoe@email.com'] # update row for specific column 
person_df



#update single row based on condition  , update Johns last_name to smith 

filt =person_df['first_name']=='John'
person_df.loc[filt,'last_name']='smith'  #use loc, apply filter on my rows and upadte the last name 
person_df

#how do we update multiple rows of data - #concepts of apply , map ,applymap, replace 


#apply is used for calling a function on our values . apply can either be used on a series of objects or dataframes

#convert all emailid values to lower case 
person_df['email_id'] = person_df['email_id'].str.lower()
person_df
#we can alsp acheive above by using apply 

#apply is used for calling a function on our values . apply can either be used on a series objects or dataframes
#when we use this on a series , it will apply a function on every value in our series. 
#Ex: if we want to find the legth of all our email id  but we can also use this to update values as well


#---APPLY-----
#below exampls shows how apply works on series objects

#length of email column values
person_df['email_id'].apply(len)


#convert all emailid values to upper case  by using udf 

def update_email(email_id):
    return email_id.upper()

person_df['email_id']= person_df['email_id'].apply(update_email)
person_df

# we can also use lambda functions to acheive above result instead of udf-- basically it is anonymous function without specific name 

person_df['email_id']= person_df['email_id'].apply(lambda x: x.lower())
person_df

#below exampls shows how apply works on Dataframes
#When we run apply on a dataframe, it runs a function on each row and column of that dataframe
person_df.apply(len) #it doesnt apply length fun on every value in teh dataframe , 
#it acutally applies length function on each series in a dataframe..basically it returns number of rows for each column 

person_df.apply(len, axis= 'columns')  #by default is is rows 

#summary
#running apply on a series, applies function to every value in the series
#running apply on a df, applies a function to every series in a dataframe ( it doesnt apply to every individual in a dataframe) 


#--APPLYMAP
#Here come applymap, where it runs on every element in a dataframe 
#Applymap works only for a dataframe


person_df.applymap(len) # it applies len function on every individual element in a dataframe

#ex: if we want to have all teh values in the lowercase then 

person_df.applymap(str.lower) #if we have numerical data it will throws an error as string methods doesnt work on numerical data


#-----MAP--------it works similar to case statement in SQL
#Now , we have map method , only works on a series
#MAP is used for substituting value in a series with other value 

#Ex: lest say if we want to substitute a couple of our first names
person_df['first_name'].map({'Corey': 'Chris', 'Jane': 'Mary'})
# NOTE: the values we dint substitute becomes a NaN value (not a number value), basically it will get rid of other names


#but what if i want to have the other names as it is . without converting to NaN , the we can use replace method

#REPLACE --it works similar to case statement in SQL
person_df['first_name'].replace({'Corey': 'Chris', 'Jane': 'Mary'})

0    Chris
1     Mary
2     John
Name: first_name, dtype: object

In [90]:
#lesson 6 --Add/ remove rows, columns in a dataframe


people = {
    "first": ["Corey", 'Jane', 'John'], 
    "last": ["Schafer", 'Doe', 'Doe'], 
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}

#convert dict to dataframe
person_df=pd.DataFrame(people)
person_df


#Adding columns
#Add new column called full name by adding first & last

person_df['fullname']= person_df['first'] + " " + person_df['last']
person_df

#we can also use apply method to add new column 

#Dropping columns

person_df.drop(columns=['first','last'],inplace= True)
person_df

#split full name to fname and lname

person_df['fullname'].str.split(' ',expand= True)
#to store those two values in seperate column we use expand = True
# to set those to columns 

person_df[['first','last']]= person_df['fullname'].str.split(' ',expand= True)
person_df



#Adding a single row to dataframe 
df = pd.concat([person_df, pd.DataFrame({'first': ['Tony'],'last':['shark']})])
df # pints to remebr - Pas svalues in list inorder to avoid index issue 

#append a dataframe to existing dataframe 


person_df2 = pd.DataFrame({
  'A': [7, 8, 9],
  'B': [10, 11, 12]
})

# Appending person_df2 to person_df
df = pd.concat([person_df, person_df2], ignore_index=True, sort=False)
df

#removing rows  or dropping rows

#Dropping rows based on index

df.index #shows the index
df.drop(index=5, inplace=True)




#dropping the rows based on condition 

# get records with last name "Doe"

filt = df['last']=='Doe'
df[filt]

# get records with last name is not "Doe"

filt = df['last']=='Doe'
#df[~filt].index #to get the index

df.drop(index=df[~filt].index)
df


#clean ,self practice - remove all newlyadded rows and columns 

df.drop(columns=['A','B'],inplace=True)
df

#remove rows with  NaN
#Using DataFrame.dropna() method drop all rows that have NAN/none.
df=df.dropna()
df

# Filter NAN Data selection column of strings by not operator.
# ex: df2 = df[~pd.isnull(df['Courses'])]

                     email       fullname  first     last
0  CoreyMSchafer@gmail.com  Corey Schafer  Corey  Schafer
1        JaneDoe@email.com       Jane Doe   Jane      Doe
2        JohnDoe@email.com       John Doe   John      Doe

In [93]:
#lesson 7 --sorting data , on single columns or multiple columns 
people = {
    'first': ['Corey', 'Jane', 'John', 'Adam'], 
    'last': ['Schafer', 'Doe', 'Doe', 'Doe'], 
    'email': ['CoreyMSchafer@gmail.com', 'JaneDoe@email.com', 'JohnDoe@email.com', 'A@email.com']
}
import pandas as pd
df = pd.DataFrame(people)
df

#sort the data base don single column  , by default ascending 

df.sort_values(by='last', ascending=False)


#sort the data base don multiple  columns  , by default ascending 

df.sort_values(by=['last','first'], ascending=False)


#sort the data base don multiple  columns  , by default ascending ..but one with asc and other with desc 

df.sort_values(by=['last', 'first'], ascending=[False, True], inplace=True)
df

#incase if we want the changes back , we can sort it by index 
df.sort_index()

#sortvalues method can also be applicable to series 
df['last'].sort_values()

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com
3   Adam      Doe              A@email.com

In [48]:
#lesson 8 --Grouping and Aggregating data

import pandas as pd

ipl_data = {'Team': ['Riders', 'Riders', 'Devils', 'Devils', 'Kings',
   'kings', 'Kings', 'Kings', 'Riders', 'Royals', 'Royals', 'Riders'],
   'Rank': [1, 2, 2, 3, 3,4 ,1 ,1,2 , 4,1,2],
   'Year': [2014,2015,2014,2015,2014,2015,2016,2017,2016,2014,2015,2017],
   'Points':[876,789,863,673,741,812,756,788,694,701,804,690]}
df = pd.DataFrame(ipl_data)

#print(df)


#get the count of each team 

test=df['Team'].value_counts()
#print(test)

# Riders    4
# Kings     3
# Devils    2
# Royals    2
# kings     1

#try using group by 

grp= df.groupby('Team')
#print(grp['Team'].count())

# Riders    4
# Kings     3
# Devils    2
# Royals    2
# kings     1


# GROUPBY basically performs 3 steps 1)split  2) apply 3)combine

#group by single coloun 
grp= df.groupby('Team')
#print(grp) #pandas.core.groupby.generic.DataFrameGroup

#print(grp.groups) #Access the groups
#{'Devils': [2, 3], 'Kings': [4, 6, 7], 'Riders': [0, 1, 8, 11], 'Royals': [9, 10], 'kings': [5]}



#group by multiple columns
grp2= df.groupby(['Team','Year'])
#print(grp2) #pandas.core.groupby.generic.DataFrameGroup

#print(grp2.groups) #Access the groups
#{('Devils', 2014): [2], ('Devils', 2015): [3], ('Kings', 2014): [4], ('Kings', 2016): [6], ('Kings', 2017): [7], ('Riders', 2014): [0], ('Riders', 2015): [1], ('Riders', 2016): [8], ('Riders', 2017): [11], ('Royals', 2014): [9], ('Royals', 2015): [10], ('kings', 2015): [5]

#Iterating through Groups

# for group_name ,group in grp2:
#     print(group_name)
#     print(group)


# for group_name ,group in grp:
#     print(group_name)
#     print(group)

#How to select partcular group ? we use get_group() method 
#By default, the groupby object has the same label name as the group name

grouped = df.groupby('Year')
#print(grouped.get_group(2014))

grp= df.groupby('Team')
#print(grp.get_group('Devils'))

grp2= df.groupby(['Team','Year'])
#print(grp2.get_group(('Devils',2014)))

#we perform aggregations on each group (Apply) & then combine all the groups 

#An aggregated function returns a single aggregated value for each group.
# Once the group by object is created, several aggregation operations can be performed on the grouped data.

#average points for each team 
grp= df.groupby('Team')
#print(grp['Points'].mean())

#Total points for each team 
grp= df.groupby('Team')
#print(grp['Points'].sum())

#Applying Multiple Aggregation Functions at Once
grouped = df.groupby('Team')
#print(grouped['Points'].agg(['sum', 'mean', 'std']))  #.aff is used if we want to use multiple agg functions



#we can apply agg function on series objects

df_stack
df_stack['ConvertedComp'].median()

#to geg the five point summary 

df_stack.describe() # It will apply to all the numerical data, it will ignore NaN values

#just only get median  for all teh columns 
#df_stack.median()

#to geg the five point summary for one column 
df_stack['ConvertedComp'].describe()

#difference between count() and value_count()

#count() - totoal count (rows)
# value_count()-- give the counts based on breakdowns

#If we want to see the distribition , add normalization to value count
df_stack
df_stack['SocialMedia'].value_counts(normalize= True)


#Find most popular social media site for each country 

grp=df_stack.groupby('Country')
grp['SocialMedia'].value_counts()

grp=df_stack.groupby('Country')
grp['SocialMedia'].value_counts(normalize= True)


#Find most popular social media site for each country  and query for each country --use index country 

grp=df_stack.groupby('Country')
grp['SocialMedia'].value_counts(normalize= True).loc['United States']

grp['SocialMedia'].value_counts(normalize= True).loc['Thailand']


#How many people shows interest in python language based on each country
grp=df_stack.groupby('Country')
#grp['LanguageWorkedWith'].str.contains('python') #str functions cannot work on grp by series , insted use apply method

grp['LanguageWorkedWith'].apply(lambda x :  x.str.contains('Python').sum()) #we get teh total number for each contry 

grp['LanguageWorkedWith'].apply(lambda x :  x.str.contains('Python').sum()).loc['United States'] #we get teh total number for each contry  #uery for specific country

#above functionality we can also acheive using filtering ..
filt = df_stack['Country'] == 'India'
df_stack.loc[filt]['LanguageWorkedWith'].str.contains('Python').sum()


#what % of people from each country know python

country_respondents = df_stack['Country'].value_counts()
#print(country_respondents)

python_worked= grp['LanguageWorkedWith'].apply(lambda x :  x.str.contains('Python').sum())
#print(python_worked)


# combine = pd.concat([country_respondents,python_worked]) #by default it will combine to rows (axis=rows)
# #print(combine.head(5))

combine2 = pd.concat([country_respondents,python_worked], axis='columns',sort= False) #by default it will combine to rows (axis=rows)
#print(combine2.head(5))

# #rename more column to make more sense
combine2.rename(columns={'count': 'NumRespondents', 'LanguageWorkedWith': 'NumKnowsPython'}, inplace=True)

#print(combine2)

combine2['PctKnowsPython'] = (combine2['NumKnowsPython']/combine2['NumRespondents']) * 100
combine2.sort_values(by='PctKnowsPython', ascending=False, inplace=True)
combine2.head(50)
#For specifci conutry 
combine2.loc['Japan']

NumRespondents    391.000000
NumKnowsPython    182.000000
PctKnowsPython     46.547315
Name: Japan, dtype: float64

In [80]:
#lesson 9 --Cleaning data - CAsting datatypes and handling missing values
import pandas as pd
import numpy as np
people_df = pd.DataFrame({
    'first': ['Corey', 'Jane', 'John', 'Chris', np.nan, None, 'NA'], 
    'last': ['Schafer', 'Doe', 'Doe', 'Schafer', np.nan, np.nan, 'Missing'], 
    'email': ['CoreyMSchafer@gmail.com', 'JaneDoe@email.com', 'JohnDoe@email.com', None, np.nan, 'Anonymous@email.com', 'NA'],
    'age': ['33', '55', '63', '36', None, None, 'Missing']
})
people_df

#--DROPPING NULL Values

#df.dropna()
#df.isna() #Gives the boolean values True or False in a dataframe for each column


#replace text 'NA' and 'Missing' to numpy NaN # we can also handle this while reading csv file like below 

people_df.replace('NA', np.nan, inplace=True)
people_df.replace('Missing', np.nan, inplace=True)

# na_vals = ['NA', 'Missing']
# df = pd.read_csv('data/survey_results_public.csv', index_col='Respondent', na_values=na_vals) # it will replace 'NA' and 'MISSING' to Nnumpy NaN



#NaN are the null values

#drop athe null values based on rows

people_df.dropna() #it will drop all the rows with any NaN value ( under the hood ,it takes these parameter , axis = index, how = any like below)

people_df.dropna(axis = 'index',how = 'any')

#If we want to  drop teh records, if we have NaN for all teh columns 

people_df.dropna(axis = 'index',how = 'all')

# if we want to drop the records based on NaN for specific columns

people_df.dropna(axis = 'index',how = 'any', subset=['last'])

people_df.dropna(axis = 'index',how = 'all', subset=['last','first'])  #both column should contal NaN


#drop athe null values based on columns  # set axis to column 

#It will drop teh columns that all have missing values

people_df.dropna(axis = 'columns',how = 'all')

people_df.dropna(axis = 'columns',how = 'any')


#--FILL MISSING VALUES

people_df.fillna('fillingvalue')

#replace NaN with 0
people_df.fillna(0)

#fill NaN for specific columns 
people_df['last'].fillna(0)

#Casting Datatypes

#Get the average age in sample dataframe 

#check if teh age is numerical data
#check datatypes
people_df.dtypes

# first    object
# last     object
# email    object
# age      object --object is nothing but a string , we need to convert to numerical

#try to conver to int
#people_df['age']= people_df['age'].astype(int) #it throws an error because 'age' column contains NaN and those under the hood casted as float

#try to conver to float

people_df['age']= people_df['age'].astype(float) 

people_df.dtypes

people_df['age'].mean() #46.75 

#we can apply astype to dataframe aswell
#people_df.astype(float) # it will convert all teh data types to float , incase if the values are numeric



# to find unique value in a column 
people_df['first'].unique()

# df['YearsCode'].unique()
# df['YearsCode'].replace('Less than 1 year', 0, inplace=True)
# df['YearsCode'].replace('More than 50 years', 51, inplace=True)
# df['YearsCode'] = df['YearsCode'].astype(float)
# df['YearsCode'].mean()

0    Schafer
1        Doe
2        Doe
3    Schafer
4          0
5          0
6          0
Name: last, dtype: object

In [111]:
#lesson 10 --working with dates and timeseries data

from datetime import datetime
import pandas as pd

df_eth = pd.read_csv("C:/Users/Sneha/documents/pandas-demo/ETH_1h.csv")
df_eth

#get the datatypes and check for date relate dcolumns
df_eth.dtypes # so , Date column is in text ..so we need to convert to Date datatype to perform any analysis

#convert to Date datatype

#df_eth['Date']= pd.to_datetime(df_eth['Date']) # it thrws error saying unknow format
df_eth['Date']= pd.to_datetime(df_eth['Date'], format = '%Y-%m-%d %I-%p')
df_eth

#df_eth['Date'].day_name() #series object doesnt have day_name method instrea we can use below on dataframe 
df_eth['Date'].dt.day_name()

# for specific record 
df_eth.loc[0,'Date'].day_name()

#create new column 
df_eth['DayOfWeek'] = df_eth['Date'].dt.day_name()
#df_eth

# we can also find min , max , delta of teh dates 
df_eth['Date'].min()
df_eth['Date'].max()
df_eth['Date'].max() - df_eth['Date'].min()

#we can alos filter records based on dates (specific data)

filt = df_eth['Date']=='2020-02-01'
df_eth[filt]

filt = (df_eth['Date'] > '2020-02-01') &  (df_eth['Date'] < '2020-05-01')
df_eth[filt]

# Another example
# filt = (df['Date'] >= pd.to_datetime('2019-01-01')) & (df['Date'] < pd.to_datetime('2020-01-01'))
# df.loc[filt]

#set date column to index and the column is unique
df_eth.set_index('Date',inplace=True)
df_eth


df_eth['2020-01':'2020-02']
df_eth['2020-01':'2020-02']['Close'].mean()

#resample

highs = df_eth['High'].resample('D').max() # D for day , W for week 
highs.head(10)

# If we want to convert teh date to date dataype as we are loading data thr csv. we can do that as well
# d_parser = lambda x: datetime.strptime(x, '%Y-%m-%d %I-%p')
# df = pd.read_csv("C:/Users/Sneha/documents/pandas-demo/ETH_1h.csv", parse_dates=['Date'], date_parser=d_parser)
# df

Date
2017-07-01    279.99
2017-07-02    293.73
2017-07-03    285.00
2017-07-04    282.83
2017-07-05    274.97
2017-07-06    275.00
2017-07-07    266.97
2017-07-08    249.50
2017-07-09    253.31
2017-07-10    240.33
Freq: D, Name: High, dtype: float64

In [98]:
#lesson 11 --#reading / writing data to different sources - excel , json , sql etc..

# filt = (df['Country'] == 'India')
# india_df = df.loc[filt]
# india_df.head()

# india_df.to_csv('data/modified.csv')
# india_df.to_csv('data/modified.tsv', sep='\t')
# india_df.to_excel('data/modified.xlsx')
# test = pd.read_excel('data/modified.xlsx', index_col='Respondent')

# india_df.to_json('data/modified.json', orient='records', lines=True)
# test = pd.read_json('data/modified.json', orient='records', lines=True)
# test.head()


# from sqlalchemy import create_engine
# import psycopg2

# engine = create_engine('postgresql://dbuser:dbpass@localhost:5432/sample_db')
# india_df.to_sql('sample_table', engine, if_exists='replace')
# sql_df = pd.read_sql('sample_table', engine, index_col='Respondent')
# sql_df.head()

# sql_df = pd.read_sql_query('SELECT * FROM sample_table', engine, index_col='Respondent')
# sql_df.head()

# posts_df = pd.read_json('https://raw.githubusercontent.com/CoreyMSchafer/code_snippets/master/Python/Flask_Blog/snippets/posts.json')
# posts_df.head()

,Date,Symbol,Open,High,Low,Close,Volume,DayOfWeek
0,2020-03-13 20:00:00,ETHUSD,129.94,131.82,126.87,128.71,1940673.93,Friday
1,2020-03-13 19:00:00,ETHUSD,119.51,132.02,117.10,129.94,7579741.09,Friday
2,2020-03-13 18:00:00,ETHUSD,124.47,124.85,115.50,119.51,4898735.81,Friday
3,2020-03-13 17:00:00,ETHUSD,124.08,127.42,121.63,124.47,2753450.92,Friday
4,2020-03-13 16:00:00,ETHUSD,124.85,129.51,120.17,124.08,4461424.71,Friday
5,2020-03-13 15:00:00,ETHUSD,128.39,128.90,116.06,124.85,7378976.00,Friday
6,2020-03-13 14:00:00,ETHUSD,134.03,137.90,125.50,128.39,3733916.89,Friday
7,2020-03-13 13:00:00,ETHUSD,131.35,140.95,128.99,134.03,9582732.93,Friday
8,2020-03-13 12:00:00,ETHUSD,128.93,134.60,126.95,131.35,3906590.52,Friday
9,2020-03-13 11:00:00,ETHUSD,132.60,133.17,126.01,128.93,3311080.29,Friday

In [169]:
# Lists & Dictionaries

#create empty list , tuples, sets   

# Empty Lists
empty_list = []
#print(empty_list)

empty_list1= list()
#print(empty_list1)


# # Empty Tuples
empty_tuple = ()
#print(empty_tuple)

empty_tuple1 = tuple()
print(empty_tuple1)

# Empty dict
empty_dict = {} 
#print(empty_dict)

#Empty set 
empty_set = set()
#print(empty_set)


#list 

# create a list 

#it is mutable , it can hold multiple data types & it is ordered 

names =['Aj','Sam', 'Rob','Kevin','80'] # it can hold multiple data types & its is ordered 
print(names)

#length of string

len(names)

# Access a list (index , negative inde)

print(names[0])
print(names[-1])

# slicing list 

print(names[0:2])
print(names[:-2])


# Adding values to list  (Modifying list )

names.append('dk')   # append adds value at the list 
print(names) 

names.insert(0,'Abd')   # insert adds value ato the specific index
print(names) 

#We can aloso use + operator to combine two lists
add =['Sa','ind','Aus']
add2=['Ban']

print(add + add2)

add =['Sa','ind','Aus']
names.extend(add)   # extend add data to list as an individual element , incase if we iuse insert then 
                    #it will add inside list as another list ,if we are trying to add multipl values
print(names)

# remove values from list 

# we have pop method and remove method . Difference is with pop it will remove last value and can store removed value to a variable

names.remove('dk')
print(names)

removed= names.pop()
print(names)
print(removed)


names.remove('80')
print(names)


# sorting list  # if we have both strin and numeric datatype in a list , then it will not sort & it throws an error

names.sort()
print(names)

#sort in reverse 

names.sort(reverse=True)
print(names)

# Looping thr lists 

for items in names:
    print(items)


# Looping thr lists  & if we want to print teh index along with value , then we wil use enumerate on list

for items in enumerate(names):
    print(items)

for index,items in enumerate(names):
    print(index,items)

for index,items in enumerate(names, start = 1): # if we want to start the index from 
    print(index,items)


# find index for specific value

print(names.index('Abd'))

#Finding value in a list 

print('ind' in names)

#splitting values from a list to a string

str_names = '-'.join(names)
print(str_names)

# Creating a list from string 

lst_names= str_names.split('-')
print(lst_names)


#---TUPLES

# tupleas are Mutable represented by open and close brackets () , can hold multiple data types and is ordered

name_tpl= ('Aj','Sam',80)
print(name_tpl)

print(name_tpl[0]) 

name_tp2= ('nash','Sam',80)

#combine two tuples
#print(name_tpl.concat(name_tp2)) # erroe


print(name_tpl + name_tp2)

# SETS
# seta are  immutable and unordered , and it wont accept duplicate values. Represented by {} - It can hold multipl edata types

name_set ={'Aj','nash','dan', 'Aj',80}
name_set2 ={'Aj','Shawn','Rod'}
print(name_set)
print(name_set2)

#find common in two sets 

print(name_set.intersection(name_set2))

print(name_set.difference(name_set2)) # present in first but not in second set

#combine two sets 
combined_set = name_set.union(name_set2)
print(combined_set)


#DICTIONARIES

# thsese are key value pairs ..key is unique identifier and value is the Data

table = {"name" : 'AJ',
            "age": 24,
                "place" : 'india',
                    "courdes": ['math','sci','phy']}

print(table)

()
['Aj', 'Sam', 'Rob', 'Kevin', '80']
Aj
80
['Aj', 'Sam']
['Aj', 'Sam', 'Rob']
['Aj', 'Sam', 'Rob', 'Kevin', '80', 'dk']
['Abd', 'Aj', 'Sam', 'Rob', 'Kevin', '80', 'dk']
['Abd', 'Aj', 'Sam', 'Rob', 'Kevin', '80', 'dk', 'Sa', 'ind', 'Aus']
['Abd', 'Aj', 'Sam', 'Rob', 'Kevin', '80', 'Sa', 'ind', 'Aus']
['Abd', 'Aj', 'Sam', 'Rob', 'Kevin', '80', 'Sa', 'ind']
Aus
['Abd', 'Aj', 'Sam', 'Rob', 'Kevin', 'Sa', 'ind']
['Abd', 'Aj', 'Kevin', 'Rob', 'Sa', 'Sam', 'ind']
['ind', 'Sam', 'Sa', 'Rob', 'Kevin', 'Aj', 'Abd']
ind
Sam
Sa
Rob
Kevin
Aj
Abd
(0, 'ind')
(1, 'Sam')
(2, 'Sa')
(3, 'Rob')
(4, 'Kevin')
(5, 'Aj')
(6, 'Abd')
0 ind
1 Sam
2 Sa
3 Rob
4 Kevin
5 Aj
6 Abd
1 ind
2 Sam
3 Sa
4 Rob
5 Kevin
6 Aj
7 Abd
6
True
ind-Sam-Sa-Rob-Kevin-Aj-Abd
['ind', 'Sam', 'Sa', 'Rob', 'Kevin', 'Aj', 'Abd']
('Aj', 'Sam', 80)
Aj
('Aj', 'Sam', 80, 'nash', 'Sam', 80)
{'Aj', 'nash', 80, 'dan'}
{'Aj', 'Rod', 'Shawn'}
{'Aj'}
{80, 'nash', 'dan'}
{80, 'Rod', 'Aj', 'nash', 'Shawn', 'dan'}
['Sa', 'ind', 'Aus', 'Ban']

In [173]:
table = {"name" : 'AJ',
            "age": 24,
                "place" : 'india',
                    "courses": ['math','sci','phy']}

print(table)

#how to access each value  base don key 

table['place']
table['courses']

# get keys
table.keys()
#get values
table.values()

#get key and value together , we use items method

for key, value in table.items():
    print( key , value)

# update values in dict 
table['age']=34
print(table)

# it is tedious if we want to update dict by above method if we need to update lot of data, instaed we can use below method
table.update({"age":35, "place":"canada"})
print(table)

# add data to dict 
table['lang']='English'
print(table)

#access value based on key 
#print(table['phone']) # it hrows an error because we do not have a phone key 
#we can use get method and if try to access the key that is not present , it returns None as value
print(table.get('phone'))

# we can also pass defualt vale if we try to access the key that is not prsent
print(table.get('phone','key_not_found'))

{'name': 'AJ', 'age': 24, 'place': 'india', 'courses': ['math', 'sci', 'phy']}